{
  "openapi": "3.2.0",
  "info": {
    "title": "Ultralytics Platform API",
    "summary": "Build, train, and deploy YOLO models with the Ultralytics Platform REST API.",
    "version": "1.0.0",
    "description": "The [Ultralytics Platform](https://platform.ultralytics.com) API lets you manage datasets, train models on cloud GPUs, deploy inference endpoints, and more — all from your own code. See the [Quickstart](https://docs.ultralytics.com/platform/quickstart/) to get started.",
    "termsOfService": "https://www.ultralytics.com/legal/terms-of-service",
    "contact": {
      "name": "Ultralytics",
      "url": "https://www.ultralytics.com"
    },
    "license": {
      "name": "AGPL-3.0",
      "identifier": "AGPL-3.0-only",
      "url": "https://www.ultralytics.com/license"
    }
  },
  "externalDocs": {
    "description": "Full documentation with guides and examples",
    "url": "https://docs.ultralytics.com/platform/api/"
  },
  "servers": [
    {
      "url": "https://platform.ultralytics.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Datasets",
      "description": "Create, browse, and manage labeled image datasets for training YOLO models. See [Datasets documentation](https://docs.ultralytics.com/platform/data/datasets/).",
      "externalDocs": {
        "description": "Datasets documentation",
        "url": "https://docs.ultralytics.com/platform/data/datasets/"
      }
    },
    {
      "name": "Images",
      "description": "Inspect, annotate, move, and delete dataset images by their unique image ID."
    },
    {
      "name": "Projects",
      "description": "Organize your models into projects. Each model belongs to one project. See [Projects documentation](https://docs.ultralytics.com/platform/train/projects/).",
      "externalDocs": {
        "description": "Projects documentation",
        "url": "https://docs.ultralytics.com/platform/train/projects/"
      }
    },
    {
      "name": "Models",
      "description": "Manage trained YOLO models — view metrics, download weights, run inference, and export to other formats. See [Models documentation](https://docs.ultralytics.com/platform/train/models/).",
      "externalDocs": {
        "description": "Models documentation",
        "url": "https://docs.ultralytics.com/platform/train/models/"
      }
    },
    {
      "name": "Training",
      "description": "Launch YOLO training on cloud GPUs (RTX 4090, A100, H100) and monitor progress in real time. See [Cloud Training documentation](https://docs.ultralytics.com/platform/train/cloud-training/).",
      "externalDocs": {
        "description": "Cloud Training documentation",
        "url": "https://docs.ultralytics.com/platform/train/cloud-training/"
      }
    },
    {
      "name": "Exports",
      "description": "Convert models to optimized formats like ONNX, TensorRT, CoreML, and LiteRT for edge deployment. See [Deploy documentation](https://docs.ultralytics.com/platform/deploy/).",
      "externalDocs": {
        "description": "Deploy documentation",
        "url": "https://docs.ultralytics.com/platform/deploy/"
      }
    },
    {
      "name": "Deployments",
      "description": "Deploy models to dedicated inference endpoints with auto-scaling, health checks, and monitoring. See [Endpoints documentation](https://docs.ultralytics.com/platform/deploy/endpoints/).",
      "externalDocs": {
        "description": "Endpoints documentation",
        "url": "https://docs.ultralytics.com/platform/deploy/endpoints/"
      }
    },
    {
      "name": "Storage Integrations",
      "description": "Connect external cloud storage for dataset ingestion."
    },
    {
      "name": "Lifecycle",
      "description": "Restore or permanently delete trashed projects, datasets, and models."
    },
    {
      "name": "Upload",
      "description": "Upload files directly to cloud storage using signed URLs for fast, reliable transfers. See [Data documentation](https://docs.ultralytics.com/platform/data/).",
      "externalDocs": {
        "description": "Data documentation",
        "url": "https://docs.ultralytics.com/platform/data/"
      }
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key starting with `ul_`. Create one at platform.ultralytics.com under Settings > API Keys."
      }
    }
  },
  "paths": {
    "/api/datasets": {
      "get": {
        "summary": "List your datasets",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets",
        "description": "Returns your datasets with pagination. Public datasets from other users are also accessible when filtering by username.",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return (default 1000)",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 1000,
              "example": 1
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Team workspace to browse",
            "schema": {
              "type": "string",
              "example": "username"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Data region: us, eu, or ap",
            "schema": {
              "type": "string",
              "enum": [
                "us",
                "eu",
                "ap"
              ],
              "example": "us"
            }
          },
          {
            "name": "includeImageUrls",
            "in": "query",
            "required": false,
            "description": "Set true to include signed full-size sample image URLs (thumbnail fallback)",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "includeSamples",
            "in": "query",
            "required": false,
            "description": "Set false to omit sample images from the response",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Dataset ID",
                            "example": "123..."
                          },
                          "username": {
                            "type": "string",
                            "description": "Owner's username",
                            "example": "username"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Dataset URL, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset",
                            "example": "example"
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name",
                            "example": "my-resource"
                          },
                          "description": {
                            "description": "Dataset description",
                            "anyOf": [
                              {
                                "type": "string",
                                "description": "Resource description",
                                "example": "Example description"
                              },
                              {
                                "type": "null",
                                "description": "Resource description",
                                "example": null
                              }
                            ],
                            "example": "Example description"
                          },
                          "visibility": {
                            "type": "string",
                            "enum": [
                              "public",
                              "private"
                            ],
                            "description": "Resource visibility"
                          },
                          "task": {
                            "type": "string",
                            "enum": [
                              "detect",
                              "segment",
                              "semantic",
                              "depth",
                              "classify",
                              "pose",
                              "obb"
                            ],
                            "description": "YOLO task type"
                          },
                          "imageCount": {
                            "type": "number",
                            "description": "Total images",
                            "example": 1
                          },
                          "classCount": {
                            "description": "Number of classes",
                            "anyOf": [
                              {
                                "type": "number",
                                "description": "Class Count",
                                "example": 1
                              },
                              {
                                "type": "null",
                                "description": "Class Count",
                                "example": null
                              }
                            ],
                            "example": 1
                          },
                          "classNames": {
                            "description": "Class names",
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "Class names",
                                  "example": "..."
                                },
                                "description": "Class names",
                                "example": [
                                  "person"
                                ]
                              },
                              {
                                "type": "null",
                                "description": "Class names",
                                "example": null
                              }
                            ],
                            "example": [
                              "person"
                            ]
                          },
                          "format": {
                            "description": "Annotation format",
                            "type": "string",
                            "enum": [
                              "yolo",
                              "coco",
                              "voc",
                              "raw",
                              "ndjson"
                            ]
                          },
                          "tags": {
                            "description": "Tags",
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "Resource tags",
                                  "example": "..."
                                },
                                "description": "Resource tags",
                                "example": [
                                  "example"
                                ]
                              },
                              {
                                "type": "null",
                                "description": "Resource tags",
                                "example": null
                              }
                            ],
                            "example": [
                              "example"
                            ]
                          },
                          "license": {
                            "description": "License",
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "None",
                                  "CC0-1.0",
                                  "PDM-1.0",
                                  "CC-BY-2.5",
                                  "CC-BY-4.0",
                                  "CC-BY-NC-2.0",
                                  "CC-BY-SA-4.0",
                                  "CC-BY-NC-4.0",
                                  "CC-BY-NC-SA-3.0",
                                  "CC-BY-NC-SA-4.0",
                                  "CC-BY-ND-4.0",
                                  "CC-BY-NC-ND-4.0",
                                  "Apache-2.0",
                                  "MIT",
                                  "AGPL-3.0",
                                  "GPL-3.0",
                                  "Research-Only",
                                  "Other"
                                ],
                                "description": "Dataset license identifier"
                              },
                              {
                                "type": "null",
                                "description": "License identifier",
                                "example": null
                              }
                            ],
                            "example": "MIT"
                          },
                          "splits": {
                            "description": "Split statistics",
                            "type": "object",
                            "properties": {
                              "train": {
                                "type": "number",
                                "description": "Training images",
                                "example": 1
                              },
                              "val": {
                                "type": "number",
                                "description": "Validation images",
                                "example": 1
                              },
                              "test": {
                                "default": 0,
                                "description": "Test images",
                                "type": "number"
                              },
                              "labeled": {
                                "default": 0,
                                "description": "Labeled images",
                                "type": "number"
                              }
                            },
                            "required": [
                              "train",
                              "val",
                              "test",
                              "labeled"
                            ],
                            "additionalProperties": false,
                            "example": {
                              "train": 1,
                              "val": 1,
                              "test": 0,
                              "labeled": 0
                            }
                          },
                          "annotationCount": {
                            "description": "Total annotations",
                            "type": "number",
                            "example": 1
                          },
                          "totalBytes": {
                            "description": "Storage size in bytes",
                            "type": "number",
                            "example": 1
                          },
                          "starCount": {
                            "type": "number",
                            "description": "Number of stars",
                            "example": 1
                          },
                          "isStarred": {
                            "type": "boolean",
                            "description": "Whether current user starred this",
                            "example": false
                          },
                          "status": {
                            "description": "Processing status",
                            "type": "string",
                            "enum": [
                              "processing",
                              "ready",
                              "failed"
                            ]
                          },
                          "sampleImages": {
                            "description": "Signed sample image previews",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "description": "Signed thumbnail URL",
                                  "example": "https://example.com"
                                },
                                "imageUrl": {
                                  "description": "Signed full-size image URL used as a thumbnail fallback",
                                  "type": "string",
                                  "example": "https://example.com"
                                },
                                "width": {
                                  "type": "number",
                                  "description": "Image width in pixels",
                                  "example": 1
                                },
                                "height": {
                                  "type": "number",
                                  "description": "Image height in pixels",
                                  "example": 1
                                },
                                "labels": {
                                  "description": "Preview annotations overlaid on the sample image",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "classId": {
                                        "type": "number",
                                        "description": "Class index (0-based)",
                                        "example": 1
                                      },
                                      "bbox": {
                                        "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                                        "type": "array",
                                        "items": {
                                          "type": "number",
                                          "description": "Bounding box coordinates",
                                          "example": 1
                                        },
                                        "example": [
                                          0.5,
                                          0.5,
                                          0.2,
                                          0.2
                                        ]
                                      },
                                      "segments": {
                                        "description": "Segmentation points, normalized 0-1",
                                        "type": "array",
                                        "items": {
                                          "type": "number",
                                          "description": "Segments",
                                          "example": 1
                                        },
                                        "example": [
                                          1
                                        ]
                                      },
                                      "keypoints": {
                                        "description": "Keypoints [x, y, visibility, ...] normalized 0-1",
                                        "type": "array",
                                        "items": {
                                          "type": "number",
                                          "description": "Keypoints",
                                          "example": 1
                                        },
                                        "example": [
                                          1
                                        ]
                                      },
                                      "obb": {
                                        "description": "Oriented bounding box [x1,y1,x2,y2,x3,y3,x4,y4] normalized 0-1",
                                        "type": "array",
                                        "items": {
                                          "type": "number",
                                          "description": "Oriented bounding box coordinates",
                                          "example": 1
                                        },
                                        "example": [
                                          0.1,
                                          0.1,
                                          0.9,
                                          0.1,
                                          0.9,
                                          0.9,
                                          0.1,
                                          0.9
                                        ]
                                      },
                                      "skeletonId": {
                                        "description": "Skeleton template ID for pose keypoint connections",
                                        "type": "string",
                                        "example": "123..."
                                      }
                                    },
                                    "required": [
                                      "classId"
                                    ],
                                    "additionalProperties": false,
                                    "description": "Image annotation",
                                    "example": {
                                      "classId": 1
                                    }
                                  },
                                  "example": [
                                    {
                                      "classId": 1
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "url",
                                "width",
                                "height"
                              ],
                              "additionalProperties": false,
                              "description": "Sample image preview",
                              "example": {
                                "url": "https://example.com",
                                "width": 1,
                                "height": 1
                              }
                            },
                            "example": [
                              {
                                "url": "https://example.com",
                                "width": 1,
                                "height": 1
                              }
                            ]
                          },
                          "storageProvider": {
                            "description": "Connected storage provider",
                            "type": "string",
                            "enum": [
                              "gcs",
                              "s3",
                              "azure"
                            ]
                          },
                          "classColors": {
                            "description": "Custom class colors (classId → hex)",
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "type": "string"
                            },
                            "example": {}
                          },
                          "kptShape": {
                            "description": "Pose keypoint shape [num_keypoints, dims]",
                            "anyOf": [
                              {
                                "type": "array",
                                "prefixItems": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ],
                                "description": "Keypoint shape",
                                "example": [
                                  17,
                                  3
                                ]
                              },
                              {
                                "type": "null",
                                "description": "Keypoint shape",
                                "example": null
                              }
                            ],
                            "example": [
                              17,
                              3
                            ]
                          },
                          "flipIdx": {
                            "description": "Pose keypoint horizontal-flip indices",
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991,
                                  "description": "Flip Idx",
                                  "example": 1
                                },
                                "description": "Flip Idx",
                                "example": [
                                  1
                                ]
                              },
                              {
                                "type": "null",
                                "description": "Flip Idx",
                                "example": null
                              }
                            ],
                            "example": [
                              1
                            ]
                          },
                          "processingTimeMs": {
                            "description": "Backend processing time in milliseconds",
                            "type": "number",
                            "example": 1
                          },
                          "processingError": {
                            "description": "Latest client-safe ingest processing error",
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Client-safe processing failure message",
                                "example": "Training failed"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                                "description": "When the error occurred",
                                "example": "2026-01-01T00:00:00Z"
                              }
                            },
                            "required": [
                              "message",
                              "timestamp"
                            ],
                            "additionalProperties": false,
                            "example": {
                              "message": "Training failed",
                              "timestamp": "2026-01-01T00:00:00Z"
                            }
                          },
                          "errorCount": {
                            "description": "Number of images with processing errors",
                            "type": "number",
                            "example": 1
                          },
                          "iconColor": {
                            "description": "Icon background color",
                            "type": "string",
                            "example": "#042AFF"
                          },
                          "iconLetter": {
                            "description": "Icon letter(s)",
                            "type": "string",
                            "example": "U"
                          },
                          "iconImage": {
                            "description": "Signed icon image URL",
                            "type": "string",
                            "example": "https://example.com/icon.png"
                          },
                          "clonedFrom": {
                            "description": "Source dataset ID if this is a clone",
                            "type": "string",
                            "example": "123..."
                          },
                          "cloneCount": {
                            "description": "Number of times this dataset has been cloned",
                            "type": "number",
                            "example": 1
                          },
                          "region": {
                            "description": "Dataset storage region",
                            "type": "string",
                            "enum": [
                              "us",
                              "eu",
                              "ap"
                            ],
                            "example": "us"
                          },
                          "versions": {
                            "description": "Saved dataset version snapshots",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "version": {
                                  "type": "number",
                                  "description": "Version number",
                                  "example": 1
                                },
                                "description": {
                                  "description": "User-provided version description",
                                  "type": "string",
                                  "example": "Example description"
                                },
                                "sizeBytes": {
                                  "description": "NDJSON file size in bytes",
                                  "type": "number",
                                  "example": 1
                                },
                                "contentHash": {
                                  "description": "Training-content SHA-256",
                                  "type": "string",
                                  "example": "sha256..."
                                },
                                "imageCount": {
                                  "type": "number",
                                  "description": "Image count at the time of the snapshot",
                                  "example": 1
                                },
                                "classCount": {
                                  "type": "number",
                                  "description": "Class count at the time of the snapshot",
                                  "example": 1
                                },
                                "annotationCount": {
                                  "type": "number",
                                  "description": "Annotation count at the time of the snapshot",
                                  "example": 1
                                },
                                "splits": {
                                  "type": "object",
                                  "properties": {
                                    "train": {
                                      "type": "number",
                                      "description": "Training images",
                                      "example": 1
                                    },
                                    "val": {
                                      "type": "number",
                                      "description": "Validation images",
                                      "example": 1
                                    },
                                    "test": {
                                      "default": 0,
                                      "description": "Test images",
                                      "type": "number"
                                    },
                                    "labeled": {
                                      "default": 0,
                                      "description": "Labeled images",
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "train",
                                    "val",
                                    "test",
                                    "labeled"
                                  ],
                                  "additionalProperties": false,
                                  "description": "Split stats at the time of the snapshot",
                                  "example": {
                                    "train": 1,
                                    "val": 1,
                                    "test": 0,
                                    "labeled": 0
                                  }
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                                  "description": "When the version was created",
                                  "example": "2026-01-01T00:00:00Z"
                                }
                              },
                              "required": [
                                "version",
                                "imageCount",
                                "classCount",
                                "annotationCount",
                                "splits",
                                "createdAt"
                              ],
                              "additionalProperties": false,
                              "description": "Versions",
                              "example": {
                                "version": 1,
                                "imageCount": 1,
                                "classCount": 1,
                                "annotationCount": 1,
                                "splits": {
                                  "train": 1,
                                  "val": 1,
                                  "test": 0,
                                  "labeled": 0
                                },
                                "createdAt": "2026-01-01T00:00:00Z"
                              }
                            },
                            "example": [
                              {
                                "version": 1,
                                "imageCount": 1,
                                "classCount": 1,
                                "annotationCount": 1,
                                "splits": {
                                  "train": 1,
                                  "val": 1,
                                  "test": 0,
                                  "labeled": 0
                                },
                                "createdAt": "2026-01-01T00:00:00Z"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                            "description": "Creation timestamp",
                            "example": "2026-01-01T00:00:00Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                            "description": "Last update timestamp",
                            "example": "2026-01-01T00:00:00Z"
                          }
                        },
                        "required": [
                          "_id",
                          "username",
                          "slug",
                          "name",
                          "visibility",
                          "task",
                          "imageCount",
                          "starCount",
                          "isStarred",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false,
                        "description": "Dataset summary",
                        "example": {
                          "_id": "123...",
                          "username": "username",
                          "slug": "example",
                          "name": "my-resource",
                          "visibility": "public",
                          "task": "detect",
                          "imageCount": 1,
                          "starCount": 1,
                          "isStarred": false,
                          "createdAt": "2026-01-01T00:00:00Z",
                          "updatedAt": "2026-01-01T00:00:00Z"
                        }
                      },
                      "description": "Datasets",
                      "example": [
                        {
                          "_id": "123...",
                          "username": "username",
                          "slug": "example",
                          "name": "my-resource",
                          "visibility": "public",
                          "task": "detect",
                          "imageCount": 1,
                          "starCount": 1,
                          "isStarred": false,
                          "createdAt": "2026-01-01T00:00:00Z",
                          "updatedAt": "2026-01-01T00:00:00Z"
                        }
                      ]
                    },
                    "total": {
                      "type": "number",
                      "description": "Total matching datasets",
                      "example": 1
                    },
                    "region": {
                      "type": "string",
                      "enum": [
                        "us",
                        "eu",
                        "ap"
                      ],
                      "description": "Data region where data is stored",
                      "example": "us"
                    }
                  },
                  "required": [
                    "datasets",
                    "total",
                    "region"
                  ],
                  "additionalProperties": false,
                  "description": "Response from GET /api/datasets"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Python SDK",
            "lang": "Python",
            "source": "from ultralytics_platform import Platform\n\nclient = Platform()  # Reads ULTRALYTICS_API_KEY\nresponse = client.datasets.list()\nprint(response)"
          }
        ]
      },
      "post": {
        "summary": "Create a new dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "post_api_datasets",
        "description": "Creates an empty dataset in your personal workspace or a team workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[a-z0-9-]+$",
                    "description": "URL slug",
                    "example": "example"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Resource name",
                    "example": "my-resource"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Resource description",
                    "example": "Example description"
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "additionalProperties": {},
                    "description": "Custom metadata object. Top-level keys are limited to 128 characters and the serialized object is limited to 500,000 characters.",
                    "x-max-serialized-characters": 500000,
                    "example": {
                      "source": "camera-1"
                    }
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Resource visibility"
                  },
                  "task": {
                    "default": "detect",
                    "type": "string",
                    "enum": [
                      "detect",
                      "segment",
                      "semantic",
                      "classify",
                      "pose",
                      "obb"
                    ],
                    "description": "Dataset task type (depth coming soon)"
                  },
                  "imageCount": {
                    "default": 0,
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "description": "Number of images"
                  },
                  "classNames": {
                    "maxItems": 25000,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "Class names",
                      "example": "..."
                    },
                    "description": "Class names",
                    "example": [
                      "person"
                    ]
                  },
                  "format": {
                    "default": "yolo",
                    "type": "string",
                    "enum": [
                      "yolo",
                      "coco",
                      "voc",
                      "raw",
                      "ndjson"
                    ],
                    "description": "Dataset annotation format"
                  },
                  "tags": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50,
                      "description": "Resource tags",
                      "example": "..."
                    },
                    "description": "Resource tags",
                    "example": [
                      "example"
                    ]
                  },
                  "license": {
                    "type": "string",
                    "enum": [
                      "None",
                      "CC0-1.0",
                      "PDM-1.0",
                      "CC-BY-2.5",
                      "CC-BY-4.0",
                      "CC-BY-NC-2.0",
                      "CC-BY-SA-4.0",
                      "CC-BY-NC-4.0",
                      "CC-BY-NC-SA-3.0",
                      "CC-BY-NC-SA-4.0",
                      "CC-BY-ND-4.0",
                      "CC-BY-NC-ND-4.0",
                      "Apache-2.0",
                      "MIT",
                      "AGPL-3.0",
                      "GPL-3.0",
                      "Research-Only",
                      "Other"
                    ],
                    "description": "Dataset license identifier"
                  },
                  "owner": {
                    "description": "Team owner username (creates resource in their workspace)",
                    "type": "string",
                    "maxLength": 32,
                    "example": "username"
                  }
                },
                "required": [
                  "slug",
                  "name"
                ],
                "description": "API request for creating a new dataset"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dataset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "description": "Created project ID",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "datasetId": {
                      "description": "Created dataset ID",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "modelId": {
                      "description": "Created model ID",
                      "type": "string",
                      "example": "507f1f77bcf86cd799439011"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Resource name, e.g. `my-dataset`",
                      "example": "example"
                    },
                    "region": {
                      "type": "string",
                      "enum": [
                        "us",
                        "eu",
                        "ap"
                      ],
                      "description": "Data region where data is stored",
                      "example": "us"
                    }
                  },
                  "required": [
                    "slug",
                    "region"
                  ],
                  "additionalProperties": false,
                  "description": "Standard resource creation response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "409": {
            "description": "A dataset with this name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Python SDK",
            "lang": "Python",
            "source": "from ultralytics_platform import Platform\n\nclient = Platform()  # Reads ULTRALYTICS_API_KEY\nresponse = client.datasets.create(\n    slug=\"example\",\n    name=\"my-resource\",\n)\nprint(response)"
          }
        ]
      }
    },
    "/api/datasets/{datasetId}": {
      "get": {
        "summary": "Get dataset details",
        "tags": [
          "Datasets"
        ],
        "operationId": "get_api_datasets_datasetId",
        "description": "Returns full details for a dataset including class names, split counts, and sample images.",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "example": "507f1f77bcf86cd799439011",
              "type": "string"
            },
            "description": "Dataset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dataset": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Dataset ID",
                          "example": "123..."
                        },
                        "username": {
                          "type": "string",
                          "description": "Owner's username",
                          "example": "username"
                        },
                        "slug": {
                          "type": "string",
                          "description": "Dataset URL, e.g. `my-dataset` from platform.ultralytics.com/username/datasets/my-dataset",
                          "example": "example"
                        },
                        "name": {
                          "type": "string",
                          "description": "Display name",
                          "example": "my-resource"
                        },
                        "description": {
                          "description": "Dataset description",
                          "anyOf": [
                            {
                              "type": "string",
                              "description": "Resource description",
                              "example": "Example description"
                            },
                            {
                              "type": "null",
                              "description": "Resource description",
                              "example": null
                            }
                          ],
                          "example": "Example description"
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "public",
                            "private"
                          ],
                          "description": "Resource visibility"
                        },
                        "task": {
                          "type": "string",
                          "enum": [
                            "detect",
                            "segment",
                            "semantic",
                            "depth",
                            "classify",
                            "pose",
                            "obb"
                          ],
                          "description": "YOLO task type"
                        },
                        "imageCount": {
                          "type": "number",
                          "description": "Total images",
                          "example": 1
                        },
                        "classCount": {
                          "description": "Number of classes",
                          "anyOf": [
                            {
                              "type": "number",
                              "description": "Class Count",
                              "example": 1
                            },
                            {
                              "type": "null",
                              "description": "Class Count",
                              "example": null
                            }
                          ],
                          "example": 1
                        },
                        "classNames": {
                          "description": "Class names",
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "Class names",
                                "example": "..."
                              },
                              "description": "Class names",
                              "example": [
                                "person"
                              ]
                            },
                            {
                              "type": "null",
                              "description": "Class names",
                              "example": null
                            }
                          ],
                          "example": [
                            "person"
                          ]
                        },
                        "format": {
                          "description": "Annotation format",
                          "type": "string",
                          "enum": [
                            "yolo",
                            "coco",
                            "voc",
                            "raw",
                            "ndjson"
                          ]
                        },
                        "tags": {
                          "description": "Tags",
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "description": "Resource tags",
                                "example": "..."
                              },
                              "description": "Resource tags",
                              "example": [
                                "example"
                              ]
                            },
                            {
                              "type": "null",
                              "description": "Resource tags",
                              "example": null
                            }
                          ],
                          "example": [
                            "example"
                          ]
                        },
                        "license": {
                          "description": "License",
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "None",
                                "CC0-1.0",
                                "PDM-1.0",
                                "CC-BY-2.5",
                                "CC-BY-4.0",
                                "CC-BY-NC-2.0",
                                "CC-BY-SA-4.0",
                                "CC-BY-NC-4.0",
                                "CC-BY-NC-SA-3.0",
                                "CC-BY-NC-SA-4.0",
                                "CC-BY-ND-4.0",
                                "CC-BY-NC-ND-4.0",
                                "Apache-2.0",
                                "MIT",
                                "AGPL-3.0",
                                "GPL-3.0",
                                "Research-Only",
                                "Other"
                              ],
                              "description": "Dataset license identifier"
                            },
                            {
                              "type": "null",
                              "description": "License identifier",
                              "example": null
                            }
                          ],
                          "example": "MIT"
                        },
                        "splits": {
                          "description": "Split statistics",
                          "type": "object",
                          "properties": {
                            "train": {
                              "type": "number",
                              "description": "Training images",
                              "example": 1
                            },
                            "val": {
                              "type": "number",
                              "description": "Validation images",
                              "example": 1
                            },
                            "test": {
                              "default": 0,
                              "description": "Test images",
                              "type": "number"
                            },
                            "labeled": {
                              "default": 0,
                              "description": "Labeled images",
                              "type": "number"
                            }
                          },
                          "required": [
                            "train",
                            "val",
                            "test",
                            "labeled"
                          ],
                          "additionalProperties": false,
                          "example": {
                            "train": 1,
                            "val": 1,
                            "test": 0,
                            "labeled": 0
                          }
                        },
                        "annotationCount": {
                          "description": "Total annotations",
                          "type": "number",
                          "example": 1
                        },
                        "totalBytes": {
                          "description": "Storage size in bytes",
                          "type": "number",
                          "example": 1
                        },
                        "starCount": {
                          "type": "number",
                          "description": "Number of stars",
                          "example": 1
                        },
                        "isStarred": {
                          "type": "boolean",
                          "description": "Whether current user starred this",
                          "example": false
                        },
                        "status": {
                          "description": "Processing status",
                          "type": "string",
                          "enum": [
                            "processing",
                            "ready",
                            "failed"
                          ]
                        },
                        "sampleImages": {
                          "description": "Signed sample image previews",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Signed thumbnail URL",
                                "example": "https://example.com"
                              },
                              "imageUrl": {
                                "description": "Signed full-size image URL used as a thumbnail fallback",
                                "type": "string",
                                "example": "https://example.com"
                              },
                              "width": {
                                "type": "number",
                                "description": "Image width in pixels",
                                "example": 1
                              },
                              "height": {
                                "type": "number",
                                "description": "Image height in pixels",
                                "example": 1
                              },
                              "labels": {
                                "description": "Preview annotations overlaid on the sample image",
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "classId": {
                                      "type": "number",
                                      "description": "Class index (0-based)",
                                      "example": 1
                                    },
                                    "bbox": {
                                      "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "description": "Bounding box coordinates",
                                        "example": 1
                                      },
                                      "example": [
                                        0.5,
                                        0.5,
                                        0.2,
                                        0.2
                                      ]
                                    },
                                    "segments": {
                                      "description": "Segmentation points, normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "description": "Segments",
                                        "example": 1
                                      },
                                      "example": [
                                        1
                                      ]
                                    },
                                    "keypoints": {
                                      "description": "Keypoints [x, y, visibility, ...] normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "description": "Keypoints",
                                        "example": 1
                                      },
                                      "example": [
                                        1
                                      ]
                                    },
                                    "obb": {
                                      "description": "Oriented bounding box [x1,y1,x2,y2,x3,y3,x4,y4] normalized 0-1",
                                      "type": "array",
                                      "items": {
                                        "type": "number",
                                        "description": "Oriented bounding box coordinates",
                                        "example": 1
                                      },
                                      "example": [
                                        0.1,
                                        0.1,
                                        0.9,
                                        0.1,
                                        0.9,
                                        0.9,
                                        0.1,
                                        0.9
                                      ]
                                    },
                                    "skeletonId": {
                                      "description": "Skeleton template ID for pose keypoint connections",
                                      "type": "string",
                                      "example": "123..."
                                    }
                                  },
                                  "required": [
                                    "classId"
                                  ],
                                  "additionalProperties": false,
                                  "description": "Image annotation",
                                  "example": {
                                    "classId": 1
                                  }
                                },
                                "example": [
                                  {
                                    "classId": 1
                                  }
                                ]
                              }
                            },
                            "required": [
                              "url",
                              "width",
                              "height"
                            ],
                            "additionalProperties": false,
                            "description": "Sample image preview",
                            "example": {
                              "url": "https://example.com",
                              "width": 1,
                              "height": 1
                            }
                          },
                          "example": [
                            {
                              "url": "https://example.com",
                              "width": 1,
                              "height": 1
                            }
                          ]
                        },
                        "storageProvider": {
                          "description": "Connected storage provider",
                          "type": "string",
                          "enum": [
                            "gcs",
                            "s3",
                            "azure"
                          ]
                        },
                        "classColors": {
                          "description": "Custom class colors (classId → hex)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "string"
                          },
                          "example": {}
                        },
                        "kptShape": {
                          "description": "Pose keypoint shape [num_keypoints, dims]",
                          "anyOf": [
                            {
                              "type": "array",
                              "prefixItems": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "number"
                                }
                              ],
                              "description": "Keypoint shape",
                              "example": [
                                17,
                                3
                              ]
                            },
                            {
                              "type": "null",
                              "description": "Keypoint shape",
                              "example": null
                            }
                          ],
                          "example": [
                            17,
                            3
                          ]
                        },
                        "flipIdx": {
                          "description": "Pose keypoint horizontal-flip indices",
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991,
                                "description": "Flip Idx",
                                "example": 1
                              },
                              "description": "Flip Idx",
                              "example": [
                                1
                              ]
                            },
                            {
                              "type": "null",
                              "description": "Flip Idx",
                              "example": null
                            }
                          ],
                          "example": [
                            1
                          ]
                        },
                        "processingTimeMs": {
                          "description": "Backend processing time in milliseconds",
                          "type": "number",
                          "example": 1
                        },
                        "processingError": {
                          "description": "Latest client-safe ingest processing error",
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "Client-safe processing failure message",
                              "example": "Training failed"
                            },
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                              "description": "When the error occurred",
                              "example": "2026-01-01T00:00:00Z"
                            }
                          },
                          "required": [
                            "message",
                            "timestamp"
                          ],
                          "additionalProperties": false,
                          "example": {
                            "message": "Training failed",
                            "timestamp": "2026-01-01T00:00:00Z"
                          }
                        },
                        "errorCount": {
                          "description": "Number of images with processing errors",
                          "type": "number",
                          "example": 1
                        },
                        "iconColor": {
                          "description": "Icon background color",
                          "type": "string",
                          "example": "#042AFF"
                        },
                        "iconLetter": {
                          "description": "Icon letter(s)",
                          "type": "string",
                          "example": "U"
                        },
                        "iconImage": {
                          "description": "Signed icon image URL",
                          "type": "string",
                          "example": "https://example.com/icon.png"
                        },
                        "clonedFrom": {
                          "description": "Source dataset ID if this is a clone",
                          "type": "string",
                          "example": "123..."
                        },
                        "cloneCount": {
                          "description": "Number of times this dataset has been cloned",
                          "type": "number",
                          "example": 1
                        },
                        "region": {
                          "description": "Dataset storage region",
                          "type": "string",
                          "enum": [
                            "us",
                            "eu",
                            "ap"
                          ],
                          "example": "us"
                        },
                        "versions": {
                          "description": "Saved dataset version snapshots",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "version": {
                                "type": "number",
                                "description": "Version number",
                                "example": 1
                              },
                              "description": {
                                "description": "User-provided version description",
                                "type": "string",
                                "example": "Example description"
                              },
                              "sizeBytes": {
                                "description": "NDJSON file size in bytes",
                                "type": "number",
                                "example": 1
                              },
                              "contentHash": {
                                "description": "Training-content SHA-256",
                                "type": "string",
                                "example": "sha256..."
                              },
                              "imageCount": {
                                "type": "number",
                                "description": "Image count at the time of the snapshot",
                                "example": 1
                              },
                              "classCount": {
                                "type": "number",
                                "description": "Class count at the time of the snapshot",
                                "example": 1
                              },
                              "annotationCount": {
                                "type": "number",
                                "description": "Annotation count at the time of the snapshot",
                                "example": 1
                              },
                              "splits": {
                                "type": "object",
                                "properties": {
                                  "train": {
                                    "type": "number",
                                    "description": "Training images",
                                    "example": 1
                                  },
                                  "val": {
                                    "type": "number",
                                    "description": "Validation images",
                                    "example": 1
                                  },
                                  "test": {
                                    "default": 0,
                                    "description": "Test images",
                                    "type": "number"
                                  },
                                  "labeled": {
                                    "default": 0,
                                    "description": "Labeled images",
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "train",
                                  "val",
                                  "test",
                                  "labeled"
                                ],
                                "additionalProperties": false,
                                "description": "Split stats at the time of the snapshot",
                                "example": {
                                  "train": 1,
                                  "val": 1,
                                  "test": 0,
                                  "labeled": 0
                                }
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                                "description": "When the version was created",
                                "example": "2026-01-01T00:00:00Z"
                              }
                            },
                            "required": [
                              "version",
                              "imageCount",
                              "classCount",
                              "annotationCount",
                              "splits",
                              "createdAt"
                            ],
                            "additionalProperties": false,
                            "description": "Versions",
                            "example": {
                              "version": 1,
                              "imageCount": 1,
                              "classCount": 1,
                              "annotationCount": 1,
                              "splits": {
                                "train": 1,
                                "val": 1,
                                "test": 0,
                                "labeled": 0
                              },
                              "createdAt": "2026-01-01T00:00:00Z"
                            }
                          },
                          "example": [
                            {
                              "version": 1,
                              "imageCount": 1,
                              "classCount": 1,
                              "annotationCount": 1,
                              "splits": {
                                "train": 1,
                                "val": 1,
                                "test": 0,
                                "labeled": 0
                              },
                              "createdAt": "2026-01-01T00:00:00Z"
                            }
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "Creation timestamp",
                          "example": "2026-01-01T00:00:00Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "Last update timestamp",
                          "example": "2026-01-01T00:00:00Z"
                        }
                      },
                      "required": [
                        "_id",
                        "username",
                        "slug",
                        "name",
                        "visibility",
                        "task",
                        "imageCount",
                        "starCount",
                        "isStarred",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "description": "Dataset detail",
                      "example": {
                        "_id": "123...",
                        "username": "username",
                        "slug": "example",
                        "name": "my-resource",
                        "visibility": "public",
                        "task": "detect",
                        "imageCount": 1,
                        "starCount": 1,
                        "isStarred": false,
                        "createdAt": "2026-01-01T00:00:00Z",
                        "updatedAt": "2026-01-01T00:00:00Z"
                      }
                    }
                  },
                  "required": [
                    "dataset"
                  ],
                  "additionalProperties": false,
                  "description": "Response from GET /api/datasets/{datasetId}"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Python SDK",
            "lang": "Python",
            "source": "from ultralytics_platform import Platform\n\nclient = Platform()  # Reads ULTRALYTICS_API_KEY\nresponse = client.datasets.retrieve(\n    dataset_id=\"507f1f77bcf86cd799439011\",\n)\nprint(response)"
          }
        ]
      },
      "patch": {
        "summary": "Update a dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "patch_api_datasets_datasetId",
        "description": "Update dataset properties like name, description, metadata, visibility, tags, or class names.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "example": "507f1f77bcf86cd799439011",
              "type": "string"
            },
            "description": "Dataset ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Resource name",
                    "example": "my-resource"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Resource description",
                    "example": "Example description"
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "additionalProperties": {},
                    "description": "Custom metadata object. Top-level keys are limited to 128 characters and the serialized object is limited to 500,000 characters.",
                    "x-max-serialized-characters": 500000,
                    "example": {
                      "source": "camera-1"
                    }
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private"
                    ],
                    "description": "Resource visibility"
                  },
                  "tags": {
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50,
                      "description": "Resource tags",
                      "example": "..."
                    },
                    "description": "Resource tags",
                    "example": [
                      "example"
                    ]
                  },
                  "classNames": {
                    "maxItems": 25000,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 100,
                      "description": "Class names",
                      "example": "..."
                    },
                    "description": "Class names",
                    "example": [
                      "person"
                    ]
                  },
                  "classColors": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 7
                    },
                    "description": "Class colors keyed by class name",
                    "example": {}
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "yolo",
                      "coco",
                      "voc",
                      "raw",
                      "ndjson"
                    ],
                    "description": "Dataset annotation format"
                  },
                  "task": {
                    "type": "string",
                    "enum": [
                      "detect",
                      "segment",
                      "semantic",
                      "classify",
                      "pose",
                      "obb"
                    ],
                    "description": "Dataset task type (depth coming soon)"
                  },
                  "license": {
                    "type": "string",
                    "enum": [
                      "None",
                      "CC0-1.0",
                      "PDM-1.0",
                      "CC-BY-2.5",
                      "CC-BY-4.0",
                      "CC-BY-NC-2.0",
                      "CC-BY-SA-4.0",
                      "CC-BY-NC-4.0",
                      "CC-BY-NC-SA-3.0",
                      "CC-BY-NC-SA-4.0",
                      "CC-BY-ND-4.0",
                      "CC-BY-NC-ND-4.0",
                      "Apache-2.0",
                      "MIT",
                      "AGPL-3.0",
                      "GPL-3.0",
                      "Research-Only",
                      "Other"
                    ],
                    "description": "Dataset license identifier"
                  },
                  "iconColor": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Icon color",
                    "example": "#042AFF"
                  },
                  "iconLetter": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 2,
                        "description": "Icon letter",
                        "example": "U"
                      },
                      {
                        "type": "string",
                        "const": "",
                        "description": "Icon letter"
                      }
                    ],
                    "description": "Icon letter",
                    "example": "U"
                  }
                },
                "description": "Input for updating a dataset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Operation succeeded"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false,
                  "description": "Standard success response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Python SDK",
            "lang": "Python",
            "source": "from ultralytics_platform import Platform\n\nclient = Platform()  # Reads ULTRALYTICS_API_KEY\nresponse = client.datasets.update(\n    dataset_id=\"507f1f77bcf86cd799439011\",\n)\nprint(response)"
          }
        ]
      },
      "delete": {
        "summary": "Delete a dataset",
        "tags": [
          "Datasets"
        ],
        "operationId": "delete_api_datasets_datasetId",
        "description": "Moves the dataset to trash. It can be restored within 30 days before permanent deletion.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "example": "507f1f77bcf86cd799439011",
              "type": "string"
            },
            "description": "Dataset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset moved to trash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Operation succeeded"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false,
                  "description": "Standard success response"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid request"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "Standard error response"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
[...]
