{
  "openapi": "3.2.0",
  "info": {
    "title": "Ultralytics Platform API",
    "summary": "Build, train, and deploy YOLO models with the Ultralytics Platform REST API.",
    "version": "0.1.13",
    "description": "The [Ultralytics Platform](https://platform.ultralytics.com) API lets you manage datasets, train models on cloud GPUs, deploy inference endpoints, and more — all from your own code. See the [Quickstart](https://docs.ultralytics.com/platform/quickstart) to get started.",
    "termsOfService": "https://www.ultralytics.com/legal/terms-of-service",
    "contact": {
      "name": "Ultralytics",
      "url": "https://www.ultralytics.com"
    },
    "license": {
      "name": "AGPL-3.0",
      "identifier": "AGPL-3.0-only",
      "url": "https://www.ultralytics.com/license"
    }
  },
  "externalDocs": {
    "description": "Full documentation with guides and examples",
    "url": "https://docs.ultralytics.com/platform/api"
  },
  "servers": [
    {
      "url": "https://platform.ultralytics.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Datasets",
      "description": "Create, browse, and manage labeled image datasets for training YOLO models. See [Datasets documentation](https://docs.ultralytics.com/platform/data/datasets).",
      "externalDocs": {
        "description": "Datasets documentation",
        "url": "https://docs.ultralytics.com/platform/data/datasets"
      }
    },
    {
      "name": "Images",
      "description": "Inspect, annotate, move, and delete dataset images by their unique image ID."
    },
    {
      "name": "Projects",
      "description": "Organize your models into projects. Each model belongs to one project. See [Projects documentation](https://docs.ultralytics.com/platform/train/projects).",
      "externalDocs": {
        "description": "Projects documentation",
        "url": "https://docs.ultralytics.com/platform/train/projects"
      }
    },
    {
      "name": "Models",
      "description": "Manage trained YOLO models — view metrics, download weights, run inference, and export to other formats. See [Models documentation](https://docs.ultralytics.com/platform/train/models).",
      "externalDocs": {
        "description": "Models documentation",
        "url": "https://docs.ultralytics.com/platform/train/models"
      }
    },
    {
      "name": "Training",
      "description": "Launch YOLO training on cloud GPUs (RTX 4090, A100, H100) and monitor progress in real time. See [Cloud Training documentation](https://docs.ultralytics.com/platform/train/cloud-training).",
      "externalDocs": {
        "description": "Cloud Training documentation",
        "url": "https://docs.ultralytics.com/platform/train/cloud-training"
      }
    },
    {
      "name": "Exports",
      "description": "Convert models to optimized formats like ONNX, TensorRT, CoreML, and LiteRT for edge deployment. See [Deploy documentation](https://docs.ultralytics.com/platform/deploy).",
      "externalDocs": {
        "description": "Deploy documentation",
        "url": "https://docs.ultralytics.com/platform/deploy"
      }
    },
    {
      "name": "Deployments",
      "description": "Deploy models to dedicated inference endpoints with auto-scaling, health checks, and monitoring. See [Endpoints documentation](https://docs.ultralytics.com/platform/deploy/endpoints).",
      "externalDocs": {
        "description": "Endpoints documentation",
        "url": "https://docs.ultralytics.com/platform/deploy/endpoints"
      }
    },
    {
      "name": "Storage Integrations",
      "description": "Connect external cloud storage for dataset ingestion."
    },
    {
      "name": "Lifecycle",
      "description": "Restore or permanently delete trashed projects, datasets, and models."
    },
    {
      "name": "Upload",
      "description": "Upload files directly to cloud storage using signed URLs for fast, reliable transfers. See [Data documentation](https://docs.ultralytics.com/platform/data).",
      "externalDocs": {
        "description": "Data documentation",
        "url": "https://docs.ultralytics.com/platform/data"
      }
    },
    {
      "name": "Account",
      "description": "Inspect your Platform account, plan, credits, storage, and workspaces."
    },
    {
      "name": "Billing",
      "description": "Inspect workspace credit transactions, plan status, limits, and usage."
    },
    {
      "name": "Explore",
      "description": "Search public projects and datasets."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key starting with `ul_`. Create one at platform.ultralytics.com under Settings > API Keys."
      }
    },
    "schemas": {
      "AccountSummaryResponse": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Personal account or workspace handle used in API paths"
          },
          "name": {
            "type": "string",
            "description": "Account display name"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "personal",
              "team"
            ],
            "description": "Whether this is a personal or team account"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "enterprise"
            ],
            "description": "User subscription tier"
          },
          "creditsCents": {
            "type": "integer",
            "description": "Available compute credit balance in US cents"
          },
          "counts": {
            "type": "object",
            "properties": {
              "projects": {
                "type": "integer",
                "minimum": 0,
                "description": "Active projects"
              },
              "datasets": {
                "type": "integer",
                "minimum": 0,
                "description": "Active datasets"
              },
              "models": {
                "type": "integer",
                "minimum": 0,
                "description": "Active models"
              }
            },
            "required": [
              "projects",
              "datasets",
              "models"
            ],
            "additionalProperties": false,
            "description": "Resource totals for this account"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string",
                  "description": "Team workspace ID"
                },
                "username": {
                  "type": "string",
                  "description": "Team workspace handle used in API paths"
                },
                "fullName": {
                  "description": "Team display name",
                  "type": "string"
                },
                "imageUrl": {
                  "description": "Team avatar URL",
                  "type": "string"
                },
                "iconColor": {
                  "description": "Team icon background color",
                  "type": "string"
                },
                "iconLetter": {
                  "description": "Team icon letter",
                  "type": "string"
                },
                "plan": {
                  "type": "string",
                  "description": "Team subscription tier"
                },
                "region": {
                  "type": "string",
                  "enum": [
                    "us",
                    "eu",
                    "ap"
                  ],
                  "description": "Data region where data is stored"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "viewer",
                    "editor",
                    "admin",
                    "owner"
                  ],
                  "description": "Team role (owner > admin > editor > viewer)"
                },
                "deniedReason": {
                  "description": "Why this API key cannot access the team, when applicable",
                  "type": "string"
                }
              },
              "required": [
                "userId",
                "username",
                "plan",
                "region",
                "role"
              ],
              "additionalProperties": false
            },
            "description": "Team workspaces available to browser sessions; API key responses omit this list"
          }
        },
        "required": [
          "username",
          "name",
          "accountType",
          "plan",
          "creditsCents",
          "counts",
          "teams"
        ],
        "additionalProperties": false,
        "description": "Platform account and workspace summary",
        "example": {
          "username": "jane-doe",
          "name": "Jane Doe",
          "accountType": "personal",
          "plan": "pro",
          "creditsCents": 2500,
          "counts": {
            "projects": 12,
            "datasets": 8,
            "models": 24
          },
          "teams": []
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "description": "Standard error response"
      },
      "ListApiKeysResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "keyId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "keyPrefix": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                }
              },
              "required": [
                "keyId",
                "name",
                "keyPrefix",
                "createdAt"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "keys"
        ],
        "additionalProperties": false,
        "description": "Active API key metadata"
      },
      "BillingTransactionsResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "signup",
                    "purchase",
                    "subscription",
                    "monthly_grant",
                    "training",
                    "annotation",
                    "refund",
                    "adjustment",
                    "promo",
                    "auto_topup",
                    "auto_topup_failed",
                    "pro_credit_expiry"
                  ]
                },
                "amountCents": {
                  "type": "number"
                },
                "balanceAfter": {
                  "type": "number"
                },
                "modelId": {
                  "type": "string"
                },
                "datasetId": {
                  "type": "string"
                },
                "apiKeyId": {
                  "type": "string"
                },
                "runId": {
                  "type": "string"
                },
                "gpuType": {
                  "type": "string"
                },
                "gpuDisplayName": {
                  "type": "string"
                },
                "period": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "receiptUrl": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "model": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "projectSlug": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "datasetId": {
                          "type": "string"
                        },
                        "gpuType": {
                          "type": "string"
                        },
                        "gpuDisplayName": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        }
                      },
                      "required": [
                        "name",
                        "slug",
                        "projectSlug",
                        "username"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "type",
                "amountCents",
                "balanceAfter",
                "createdAt"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "transactions"
        ],
        "additionalProperties": false,
        "description": "Workspace credit transaction history"
      },
      "BillingUsageSummaryResponse": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "object",
            "properties": {
              "planId": {
                "type": "string",
                "enum": [
                  "free",
                  "pro",
                  "enterprise"
                ],
                "description": "User subscription tier"
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "past_due"
                ]
              },
              "cancelAtPeriodEnd": {
                "type": "boolean"
              },
              "paymentFailedAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              "billingCycle": {
                "type": "string",
                "enum": [
                  "monthly",
                  "yearly"
                ]
              },
              "currentPeriodEnd": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              "enterpriseLicenseEnd": {
                "type": "string"
              },
              "licenseExpired": {
                "type": "boolean"
              }
            },
            "required": [
              "planId",
              "name",
              "status",
              "cancelAtPeriodEnd"
            ],
            "additionalProperties": false
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metricId": {
                  "type": "string",
                  "const": "storage_bytes"
                },
                "kind": {
                  "type": "string",
                  "const": "GAUGE"
                },
                "period": {
                  "type": "string",
                  "const": "NONE"
                },
                "limit": {
                  "type": "number"
                },
                "used": {
                  "type": "number"
                },
                "remaining": {
                  "type": "number"
                },
                "overageAllowed": {
                  "type": "boolean"
                }
              },
              "required": [
                "metricId",
                "kind",
                "period",
                "limit",
                "used",
                "remaining",
                "overageAllowed"
              ],
              "additionalProperties": false
            }
          },
          "trainingCredit": {
            "type": "object",
            "properties": {
              "monthlyGrant": {
                "type": "number"
              },
              "balanceAvailable": {
                "type": "number"
              }
            },
            "required": [
              "monthlyGrant",
              "balanceAvailable"
            ],
            "additionalProperties": false
          },
          "features": {
            "type": "object",
            "properties": {
              "privateProjects": {
                "type": "boolean"
              },
              "teams": {
                "type": "boolean"
              },
              "enterpriseLicense": {
                "type": "boolean"
              }
            },
            "required": [
              "privateProjects",
              "teams",
              "enterpriseLicense"
            ],
            "additionalProperties": false
          },
          "creditsCents": {
            "type": "number"
          },
          "paidSeats": {
            "type": "number"
          },
          "currentSeats": {
            "type": "number"
          },
          "maxSeats": {
            "type": "number"
          },
          "nextInvoiceCents": {
            "type": "number"
          }
        },
        "required": [
          "plan",
          "metrics",
          "trainingCredit",
          "features",
          "creditsCents"
        ],
        "additionalProperties": false,
        "description": "Workspace plan, limits, and usage"
      },
      "DatasetClassStatsResponse": {
        "type": "object",
        "properties": {
          "classes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "classId": {
                  "type": "number"
                },
                "count": {
                  "type": "number",
                  "description": "Total annotations of this class"
                },
                "imageCount": {
                  "type": "number",
                  "description": "Images containing this class"
                }
              },
              "required": [
                "classId",
                "count",
                "imageCount"
              ],
              "additionalProperties": false,
              "description": "Per-class annotation statistics"
            },
            "description": "Per-class annotation counts (all defined classes)"
          },
          "imageStats": {
            "type": "object",
            "properties": {
              "widthHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "heightHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "pointsHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                },
                "description": "Points per annotation instance"
              },
              "formatDistribution": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "number"
                },
                "description": "Image format counts (ext → count)"
              },
              "fileSizeHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "objectsPerImageHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "bboxWidthHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "bboxHeightHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "bboxWidthNormHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              },
              "bboxHeightNormHistogram": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bin": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    },
                    "size": {
                      "description": "Bin width for ranged histograms; 1 for discrete histograms",
                      "type": "number"
                    }
                  },
                  "required": [
                    "bin",
                    "count"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "widthHistogram",
              "heightHistogram",
              "pointsHistogram",
              "formatDistribution",
              "fileSizeHistogram",
              "objectsPerImageHistogram",
              "bboxWidthHistogram",
              "bboxHeightHistogram",
              "bboxWidthNormHistogram",
              "bboxHeightNormHistogram"
            ],
            "additionalProperties": false,
            "description": "Image and annotation distributions"
          },
          "locationHeatmap": {
            "type": "object",
            "properties": {
              "bins": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              },
              "maxCount": {
                "type": "number"
              }
            },
            "required": [
              "bins",
              "maxCount"
            ],
            "additionalProperties": false,
            "description": "20x20 grid of bbox center counts"
          },
          "dimensionHeatmap": {
            "type": "object",
            "properties": {
              "bins": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              },
              "maxCount": {
                "type": "number"
              },
              "minWidth": {
                "type": "number"
              },
              "maxWidth": {
                "type": "number"
              },
              "minHeight": {
                "type": "number"
              },
              "maxHeight": {
                "type": "number"
              }
            },
            "required": [
              "bins",
              "maxCount",
              "minWidth",
              "maxWidth",
              "minHeight",
              "maxHeight"
            ],
            "additionalProperties": false,
            "description": "20x20 grid of image width vs height counts"
          },
          "classNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dataset class names by index"
          },
          "cached": {
            "type": "boolean",
            "description": "Whether stats were served from the pre-computed cache"
          },
          "sampleSize": {
            "description": "Number of images included; set only when stats came from a capped subset",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "classes",
          "imageStats",
          "locationHeatmap",
          "dimensionHeatmap",
          "classNames",
          "cached"
        ],
        "additionalProperties": false,
        "description": "Dataset class and annotation statistics"
      },
      "DeleteDatasetClassesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "classNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classColors": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "deletedClassIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0
            }
          },
          "deletedAnnotations": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "success",
          "classNames",
          "classColors",
          "deletedClassIds",
          "deletedAnnotations"
        ],
        "additionalProperties": false
      },
      "MergeDatasetClassesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "classNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classColors": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "mergedClassIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0
            }
          },
          "targetClassId": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "success",
          "classNames",
          "classColors",
          "mergedClassIds",
          "targetClassId"
        ],
        "additionalProperties": false
      },
      "CloneDatasetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "dataset": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "imageCount": {
            "type": "integer",
            "minimum": 0
          },
          "classCount": {
            "type": "integer",
            "minimum": 0
          },
          "region": {
            "type": "string",
            "enum": [
              "us",
              "eu",
              "ap"
            ],
            "description": "Data region where data is stored"
          }
        },
        "required": [
          "id",
          "owner",
          "dataset",
          "name",
          "imageCount",
          "region"
        ],
        "additionalProperties": false
      },
      "DatasetDetailResponse": {
        "type": "object",
        "properties": {
          "dataset": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Dataset ID"
              },
              "owner": {
                "type": "string",
                "description": "Dataset owner"
              },
              "dataset": {
                "type": "string",
                "description": "Dataset name used in Platform URLs"
              },
              "name": {
                "type": "string",
                "description": "Display name"
              },
              "description": {
                "type": "string"
              },
              "visibility": {
                "type": "string",
                "enum": [
                  "public",
                  "private"
                ],
                "description": "Resource visibility"
              },
              "task": {
                "type": "string",
                "enum": [
                  "detect",
                  "segment",
                  "semantic",
                  "depth",
                  "classify",
                  "pose",
                  "obb"
                ],
                "description": "YOLO task type"
              },
              "depthScale": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "imageCount": {
                "type": "integer",
                "minimum": 0
              },
              "classCount": {
                "type": "integer",
                "minimum": 0
              },
              "classNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "format": {
                "type": "string",
                "enum": [
                  "yolo",
                  "coco",
                  "raw",
                  "ndjson"
                ],
                "description": "Dataset annotation format"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "license": {
                "type": "string",
                "enum": [
                  "None",
                  "CC0-1.0",
                  "PDM-1.0",
                  "CC-BY-2.5",
                  "CC-BY-4.0",
                  "CC-BY-NC-2.0",
                  "CC-BY-SA-4.0",
                  "CC-BY-NC-4.0",
                  "CC-BY-NC-SA-3.0",
                  "CC-BY-NC-SA-4.0",
                  "CC-BY-ND-4.0",
                  "CC-BY-NC-ND-4.0",
                  "Apache-2.0",
                  "MIT",
                  "AGPL-3.0",
                  "GPL-3.0",
                  "Research-Only",
                  "Other"
                ],
                "description": "Dataset license identifier"
              },
              "splits": {
                "type": "object",
                "properties": {
                  "train": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of training images"
                  },
                  "val": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Number of validation images"
                  },
                  "test": {
                    "default": 0,
                    "description": "Number of test images",
                    "type": "integer",
                    "minimum": 0
                  },
                  "labeled": {
                    "default": 0,
                    "description": "Number of images with annotations",
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "train",
                  "val",
                  "test",
                  "labeled"
                ],
                "additionalProperties": false,
                "description": "Dataset split statistics"
              },
              "annotationCount": {
                "type": "integer",
                "minimum": 0
              },
              "totalBytes": {
                "type": "number",
                "minimum": 0
              },
              "starCount": {
                "type": "integer",
                "minimum": 0
              },
              "isStarred": {
                "type": "boolean"
              },
              "status": {
                "type": "string",
                "enum": [
                  "processing",
                  "ready",
                  "failed"
                ]
              },
              "sampleImages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "depthPreviewUrl": {
                      "description": "Colorizable depth PNG, present only on a paired depth image",
                      "type": "string"
                    },
                    "width": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "height": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classId": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Class index (0-based)"
                          },
                          "bbox": {
                            "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              }
                            ],
                            "items": {
                              "not": {}
                            }
                          },
                          "segments": {
                            "description": "Segmentation points, normalized 0-1",
                            "maxItems": 10000,
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "keypoints": {
                            "description": "One consistent flat shape of normalized [x, y] pairs or [x, y, visibility] triples; visibility conventionally uses 0, 1, or 2",
                            "example": [
                              0.1,
                              0.2,
                              0.3,
                              0.4
                            ],
                            "maxItems": 10000,
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "obb": {
                            "description": "Oriented bounding box corners",
                            "type": "array",
                            "prefixItems": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "number"
                              }
                            ],
                            "items": {
                              "not": {}
                            }
                          },
                          "skeletonId": {
                            "description": "Skeleton template ID for pose keypoint connections",
                            "type": "string",
                            "maxLength": 128
                          }
                        },
                        "required": [
                          "classId"
                        ],
                        "additionalProperties": false,
                        "description": "Single annotation (object) in an image"
                      }
                    }
                  },
                  "required": [
                    "url",
                    "width",
                    "height"
                  ],
                  "additionalProperties": false
                }
              },
              "integrationProvider": {
                "type": "string",
                "enum": [
                  "gcs",
                  "s3",
                  "azure",
                  "on-premise"
                ]
              },
              "integrationStatus": {
                "type": "string",
                "enum": [
                  "online",
                  "offline",
                  "disconnected"
                ]
              },
              "source": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "cloud"
                      }
                    },
                    "required": [
                      "provider"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "roboflow"
                      }
                    },
                    "required": [
                      "provider"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "local"
                      },
                      "keyId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "classColors": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "kptShape": {
                "description": "Pose keypoint shape [keypoints, dimensions]",
                "type": "array",
                "prefixItems": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "number"
                  }
                ],
                "items": {
                  "not": {}
                }
              },
              "flipIdx": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "processingTimeMs": {
                "type": "number",
                "minimum": 0
              },
              "lastIngestJobId": {
                "description": "Latest completed ingest job ID (owners only)",
                "type": "string"
              },
              "processingError": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                },
                "required": [
                  "message",
                  "timestamp"
                ],
                "additionalProperties": false
              },
              "lastIngestSummary": {
                "type": "object",
                "properties": {
                  "added": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "paired": {
                    "description": "Stored images that gained a late depth target",
                    "type": "integer",
                    "minimum": 0
                  },
                  "errors": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "skippedCounts": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                },
                "required": [
                  "added",
                  "errors",
                  "skippedCounts"
                ],
                "additionalProperties": false
              },
              "errorCount": {
                "type": "integer",
                "minimum": 0
              },
              "iconColor": {
                "type": "string"
              },
              "iconLetter": {
                "type": "string"
              },
              "iconImage": {
                "type": "string"
              },
              "clonedFrom": {
                "type": "string"
              },
              "cloneCount": {
                "type": "integer",
                "minimum": 0
              },
              "region": {
                "type": "string",
                "enum": [
                  "us",
                  "eu",
                  "ap"
                ],
                "description": "Data region where data is stored"
              },
              "versions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "description": {
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "number",
                      "minimum": 0
                    },
                    "contentHash": {
                      "type": "string"
                    },
                    "sourceUpdatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "imageCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "classCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "annotationCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "splits": {
                      "type": "object",
                      "properties": {
                        "train": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "Number of training images"
                        },
                        "val": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "Number of validation images"
                        },
                        "test": {
                          "default": 0,
                          "description": "Number of test images",
                          "type": "integer",
                          "minimum": 0
                        },
                        "labeled": {
                          "default": 0,
                          "description": "Number of images with annotations",
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "train",
                        "val",
                        "test",
                        "labeled"
                      ],
                      "additionalProperties": false,
                      "description": "Dataset split statistics"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "version",
                    "imageCount",
                    "classCount",
                    "annotationCount",
                    "splits",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              "metadata": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {},
                "description": "User-defined metadata",
                "example": {
                  "source": "camera-1"
                }
              }
            },
            "required": [
              "id",
              "owner",
              "dataset",
              "name",
              "visibility",
              "task",
              "imageCount",
              "splits",
              "starCount",
              "isStarred",
              "createdAt",
              "updatedAt",
              "metadata"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "dataset"
        ],
        "additionalProperties": false
      },
      "MetadataValue": {
        "anyOf": [
          {
            "type": "string",
            "maxLength": 499999
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "maxItems": 500000,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataValue"
            }
          },
          {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "maxLength": 128
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/MetadataValue"
            }
          }
        ]
      },
      "UpdateDatasetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "dataset": {
            "type": "string",
            "description": "Current dataset name used in Platform URLs"
          }
        },
        "required": [
          "success",
          "dataset"
        ],
        "additionalProperties": false
      },
      "DeleteDatasetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DatasetEmbeddingsResponse": {
        "type": "object",
        "properties": {
          "analyzedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "embeddingsCount": {
            "type": "integer",
            "minimum": 0
          },
          "latestImageAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "activeJob": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "starting",
                      "running"
                    ]
                  },
                  "progress": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "stage": {
                            "type": "string",
                            "enum": [
                              "embedding",
                              "umap"
                            ],
                            "description": "Current processing stage"
                          },
                          "percent": {
                            "type": "number"
                          },
                          "processed": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "failedDownloads": {
                            "description": "Images whose thumbnail couldn't be fetched/decoded",
                            "type": "number"
                          },
                          "failedInference": {
                            "description": "Images that couldn't be embedded (e.g. CUDA OOM)",
                            "type": "number"
                          }
                        },
                        "required": [
                          "stage",
                          "percent"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                },
                "required": [
                  "id",
                  "status",
                  "progress",
                  "createdAt"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "analyzedAt",
          "embeddingsCount",
          "latestImageAt",
          "activeJob"
        ],
        "additionalProperties": false
      },
      "StartDatasetEmbeddingsResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        },
        "required": [
          "jobId"
        ],
        "additionalProperties": false
      },
      "CancelDatasetEmbeddingsResponse": {
        "type": "object",
        "properties": {
          "cancelled": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "cancelled"
        ],
        "additionalProperties": false
      },
      "DatasetExportResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "downloadUrl": {
                "type": "string"
              },
              "version": {
                "type": "integer",
                "exclusiveMinimum": 0
              }
            },
            "required": [
              "downloadUrl",
              "version"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "downloadUrl": {
                "type": "string"
              },
              "cached": {
                "type": "boolean"
              }
            },
            "required": [
              "downloadUrl",
              "cached"
            ],
            "additionalProperties": false
          }
        ],
        "description": "Signed current or saved dataset export URL"
      },
      "CreateDatasetVersionResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "downloadUrl": {
            "type": "string"
          },
          "reused": {
            "type": "boolean"
          }
        },
        "required": [
          "version",
          "downloadUrl",
          "reused"
        ],
        "additionalProperties": false
      },
      "UpdateDatasetVersionResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "DatasetClusteringResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "umapX": {
                  "type": "number"
                },
                "umapY": {
                  "type": "number"
                },
                "split": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "train",
                        "val",
                        "test"
                      ],
                      "description": "Dataset split type"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "classIds": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "width": {
                  "type": "integer",
                  "minimum": 0
                },
                "height": {
                  "type": "integer",
                  "minimum": 0
                },
                "bytes": {
                  "anyOf": [
                    {
                      "type": "integer",
                      "minimum": 0
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "labelCount": {
                  "type": "integer",
                  "minimum": 0
                },
                "labeled": {
                  "type": "boolean",
                  "description": "Task-aware labeled state — depth ground truth is a paired target, so `labelCount` is 0 there"
                },
                "missing": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "umapX",
                "umapY",
                "split",
                "classIds",
                "width",
                "height",
                "bytes",
                "labelCount",
                "labeled",
                "missing"
              ],
              "additionalProperties": false
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "images",
          "total",
          "offset",
          "limit",
          "hasMore",
          "nextOffset",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "ListDatasetImagesResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "hash": {
                  "type": "string"
                },
                "ext": {
                  "type": "string"
                },
                "thumbnailUrl": {
                  "type": "string"
                },
                "imageUrl": {
                  "type": "string"
                },
                "width": {
                  "type": "integer",
                  "minimum": 0
                },
                "height": {
                  "type": "integer",
                  "minimum": 0
                },
                "split": {
                  "type": "string",
                  "enum": [
                    "train",
                    "val",
                    "test"
                  ],
                  "description": "Dataset split type"
                },
                "labelCount": {
                  "type": "integer",
                  "minimum": 0
                },
                "name": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer",
                  "minimum": 0
                },
                "error": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "classId": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Class index (0-based)"
                      },
                      "bbox": {
                        "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "items": {
                          "not": {}
                        }
                      },
                      "segments": {
                        "description": "Segmentation points, normalized 0-1",
                        "maxItems": 10000,
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "keypoints": {
                        "description": "One consistent flat shape of normalized [x, y] pairs or [x, y, visibility] triples; visibility conventionally uses 0, 1, or 2",
                        "example": [
                          0.1,
                          0.2,
                          0.3,
                          0.4
                        ],
                        "maxItems": 10000,
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "obb": {
                        "description": "Oriented bounding box corners",
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "items": {
                          "not": {}
                        }
                      },
                      "skeletonId": {
                        "description": "Skeleton template ID for pose keypoint connections",
                        "type": "string",
                        "maxLength": 128
                      }
                    },
                    "required": [
                      "classId"
                    ],
                    "additionalProperties": false,
                    "description": "Single annotation (object) in an image"
                  }
                },
                "labelsTruncated": {
                  "type": "boolean",
                  "const": true
                },
                "depth": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string",
                      "pattern": "^[a-f\\d]{32}$",
                      "description": "CAS hash of the depth asset"
                    },
                    "bytes": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Stored depth asset size in bytes"
                    },
                    "shape": {
                      "minItems": 2,
                      "maxItems": 2,
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      },
                      "description": "Depth map [height, width]"
                    },
                    "min": {
                      "description": "Minimum valid depth in meters",
                      "type": "number",
                      "minimum": 0
                    },
                    "max": {
                      "description": "Maximum valid depth in meters",
                      "type": "number",
                      "minimum": 0
                    },
                    "validFraction": {
                      "description": "Fraction of pixels containing valid depth",
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "Canonical depth PNG the client colorizes"
                    }
                  },
                  "required": [
                    "hash",
                    "bytes",
                    "shape",
                    "previewUrl"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "hash",
                "ext",
                "width",
                "height",
                "split",
                "labelCount",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "hasMore": {
            "type": "boolean"
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errorCount": {
            "type": "integer",
            "minimum": 0
          },
          "nextCursor": {
            "type": "string"
          }
        },
        "required": [
          "images",
          "hasMore",
          "classes",
          "errorCount"
        ],
        "additionalProperties": false
      },
      "SelectedDatasetImagesResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "hash": {
                  "type": "string"
                },
                "ext": {
                  "type": "string"
                },
                "thumbnailUrl": {
                  "type": "string"
                },
                "imageUrl": {
                  "type": "string"
                },
                "width": {
                  "type": "integer",
                  "minimum": 0
                },
                "height": {
                  "type": "integer",
                  "minimum": 0
                },
                "split": {
                  "type": "string",
                  "enum": [
                    "train",
                    "val",
                    "test"
                  ],
                  "description": "Dataset split type"
                },
                "labelCount": {
                  "type": "integer",
                  "minimum": 0
                },
                "name": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer",
                  "minimum": 0
                },
                "error": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "classId": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Class index (0-based)"
                      },
                      "bbox": {
                        "description": "Bounding box [x_center, y_center, width, height] normalized 0-1",
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "items": {
                          "not": {}
                        }
                      },
                      "segments": {
                        "description": "Segmentation points, normalized 0-1",
                        "maxItems": 10000,
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "keypoints": {
                        "description": "One consistent flat shape of normalized [x, y] pairs or [x, y, visibility] triples; visibility conventionally uses 0, 1, or 2",
                        "example": [
                          0.1,
                          0.2,
                          0.3,
                          0.4
                        ],
                        "maxItems": 10000,
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "obb": {
                        "description": "Oriented bounding box corners",
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "items": {
                          "not": {}
                        }
                      },
                      "skeletonId": {
                        "description": "Skeleton template ID for pose keypoint connections",
                        "type": "string",
                        "maxLength": 128
                      }
                    },
                    "required": [
                      "classId"
                    ],
                    "additionalProperties": false,
                    "description": "Single annotation (object) in an image"
                  }
                },
                "labelsTruncated": {
                  "type": "boolean",
                  "const": true
                },
                "depth": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string",
                      "pattern": "^[a-f\\d]{32}$",
                      "description": "CAS hash of the depth asset"
                    },
                    "bytes": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Stored depth asset size in bytes"
                    },
                    "shape": {
                      "minItems": 2,
                      "maxItems": 2,
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      },
                      "description": "Depth map [height, width]"
                    },
                    "min": {
                      "description": "Minimum valid depth in meters",
                      "type": "number",
                      "minimum": 0
                    },
                    "max": {
                      "description": "Maximum valid depth in meters",
                      "type": "number",
                      "minimum": 0
                    },
                    "validFraction": {
                      "description": "Fraction of pixels containing valid depth",
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "Canonical depth PNG the client colorizes"
                    }
                  },
                  "required": [
                    "hash",
                    "bytes",
                    "shape",
                    "previewUrl"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "hash",
                "ext",
                "width",
                "height",
                "split",
                "labelCount",
                "name"
              ],
              "additionalProperties": false
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "hasMore": {
            "type": "boolean",
            "const": false
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errorCount": {
            "type": "integer",
            "minimum": 0
          },
          "nextCursor": {
            "not": {}
          }
        },
        "required": [
          "images",
          "total",
          "hasMore",
          "classes",
          "errorCount"
        ],
        "additionalProperties": false
      },
      "IngestDatasetResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "queued"
          }
        },
        "required": [
          "jobId",
          "status"
        ],
        "additionalProperties": false
      },
      "DatasetTrainedModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "owner": {
                  "type": "string"
                },
                "project": {
                  "type": "string"
                },
                "model": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "untrained",
                    "starting",
                    "running",
                    "completed",
                    "failed",
                    "cancelled"
                  ],
                  "description": "Training/model status"
                },
                "task": {
                  "type": "string",
                  "enum": [
                    "detect",
                    "segment",
                    "semantic",
                    "depth",
                    "classify",
                    "pose",
                    "obb"
                  ],
                  "description": "YOLO task type"
                },
                "datasetVersion": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "contentHash": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "contentHash"
                  ],
                  "additionalProperties": false
                },
                "epochs": {
                  "type": "integer",
                  "minimum": 0
                },
                "bestEpoch": {
                  "type": "integer",
                  "minimum": 0
                },
                "bestFitness": {
                  "type": "number"
                },
                "metrics": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "number"
                  }
                },
                "startedAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "completedAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "projectIconColor": {
                  "type": "string"
                },
                "projectIconLetter": {
                  "type": "string"
                },
                "projectIconImage": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "owner",
                "project",
                "model",
                "name",
                "status",
                "metrics",
                "createdAt"
              ],
              "additionalProperties": false
            }
          },
          "count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "models",
          "count"
        ],
        "additionalProperties": false
      },
      "BatchPredictStatusResponse": {
        "type": "object",
        "properties": {
          "activeJob": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "stopping": {
                    "type": "boolean"
                  },
                  "progress": {
                    "type": "object",
                    "properties": {
                      "processed": {
                        "type": "number",
                        "description": "Images inferred so far"
                      },
                      "total": {
                        "type": "number",
                        "description": "Images the run targets"
                      }
                    },
                    "required": [
                      "processed",
                      "total"
                    ],
                    "additionalProperties": false
                  },
                  "startedAt": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                },
                "required": [
                  "id",
                  "stopping",
                  "progress",
                  "startedAt"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "lastRun": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "failed": {
                    "type": "boolean"
                  },
                  "stopped": {
                    "type": "boolean"
                  },
                  "error": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "results": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "processed": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Images successfully inferred"
                          },
                          "annotations": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Annotations written"
                          },
                          "classes": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Distinct classes predicted"
                          }
                        },
                        "required": [
                          "processed",
                          "annotations",
                          "classes"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "failed",
                  "stopped",
                  "error",
                  "results"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "activeJob",
          "lastRun"
        ],
        "additionalProperties": false
      },
      "StartBatchPredictResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        },
        "required": [
          "jobId"
        ],
        "additionalProperties": false
      },
      "ResolveBatchPredictResponse": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "cancelled",
              "dismissed",
              "none"
            ],
            "description": "What happened to the run"
          },
          "jobId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "action",
          "jobId"
        ],
        "additionalProperties": false
      },
      "RestoreDatasetVersionResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "imageCount": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "version",
          "imageCount"
        ],
        "additionalProperties": false
      },
      "RedistributeDatasetSplitsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "splits": {
            "type": "object",
            "properties": {
              "train": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of training images"
              },
              "val": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of validation images"
              },
              "test": {
                "default": 0,
                "description": "Number of test images",
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "train",
              "val",
              "test"
            ],
            "additionalProperties": false
          },
          "modified": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "success",
          "splits",
          "modified"
        ],
        "additionalProperties": false
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dataset ID"
          },
          "owner": {
            "type": "string",
            "description": "Dataset owner"
          },
          "dataset": {
            "type": "string",
            "description": "Dataset name used in Platform URLs"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Resource visibility"
          },
          "task": {
            "type": "string",
            "enum": [
              "detect",
              "segment",
              "semantic",
              "depth",
              "classify",
              "pose",
              "obb"
            ],
            "description": "YOLO task type"
          },
          "depthScale": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "imageCount": {
            "type": "integer",
            "minimum": 0
          },
          "classCount": {
            "type": "integer",
            "minimum": 0
          },
          "classNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "format": {
            "type": "string",
            "enum": [
              "yolo",
              "coco",
              "raw",
              "ndjson"
            ],
            "description": "Dataset annotation format"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "license": {
            "type": "string",
            "enum": [
              "None",
              "CC0-1.0",
              "PDM-1.0",
              "CC-BY-2.5",
              "CC-BY-4.0",
              "CC-BY-NC-2.0",
              "CC-BY-SA-4.0",
              "CC-BY-NC-4.0",
              "CC-BY-NC-SA-3.0",
              "CC-BY-NC-SA-4.0",
              "CC-BY-ND-4.0",
              "CC-BY-NC-ND-4.0",
              "Apache-2.0",
              "MIT",
              "AGPL-3.0",
              "GPL-3.0",
              "Research-Only",
              "Other"
            ],
            "description": "Dataset license identifier"
          },
          "splits": {
            "type": "object",
            "properties": {
              "train": {
                "type": "integer",
                "minimum": 0,
[...]
